div.stDataFrame.css-e7z11k.e17g77xh0 {
    background-color: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 2px;
}

div.stPlotlyChart.js-plotly-plot {
    background-color: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 2px;

}

div.css-3fi9kc.everg990.vega-embed.has-actions {
    background-color: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 2px;

}

div.css-1a32fsj.e19lei0e0 {
    overflow: scroll;
}